body {
  --dg-transclusion-padding: 0px;

  .note-header {
    margin-bottom: 10px;
  }

  .me-image {
    border-radius: 50%; object-fit: cover; border: 2px solid var(--h1-color);
  }

  .navbar-inner {
    cursor: auto !important;
  }

  .navbar-menu-icon {
    cursor: pointer !important;
  }

  .fullpage-overlay {
    cursor: pointer;
  }

  .markdown-embed {
    border-inline-start: none;
  }

  .callout-title-inner {
    width: 100%;
  }
}
