body {
  --dg-transclusion-padding: 0px;

  .note-header {
    margin-bottom: 10px;
  }

  .me-image {
    border-radius: 50%; object-fit: cover; border: 2px solid var(--h1-color);
  }

  .navbar-inner {
    cursor: auto !important;
  }

  .navbar-menu-icon {
    cursor: pointer !important;
  }

  .fullpage-overlay {
    cursor: pointer;
  }

  .markdown-embed {
    border-inline-start: none;
  }

  .callout-title-inner {
    width: 100%;
  }

  .callout[data-callout="abstract"] {
    --callout-color: 18, 161, 2;
    --callout-icon: lucide-clipboard-list;
  }

  .callout[data-callout="preprint"] {
      /* --callout-color: 181, 161, 2; */
      --callout-color: 189, 173, 0;
      --callout-icon: lucide-pencil;
  }

}
